<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.funding.domain.user.repository.FundingMapper">

    <insert id="insertFundingInfo" parameterType= "com.flab.funding.domain.funding.model.FundingInfo">
        -- TODO
    </insert>

    <insert id="insertOptionItem" parameterType= "com.flab.funding.domain.funding.model.ItemOption">
        -- TODO
    </insert>
</mapper>